## EXERCISES

#### Exercise 1

In the code below, which will never print regardless of the value for x? Edit the code to correct the error.

```python
if x > 0 :
    print('Above 0')
elif x >  10 :
    print('Above 10')
elif x > 50 :
    print('Above 50')
elif x >  20 :
    print('Above 20')
else :
    print('Something else')
```

In [1]:
x = 5

if x > 0:
    print('Above 0')
elif x <= 10:
    print('Above 10')
elif x > 50:
    print('Above 50')
elif x > 20:
    print('Above 20')
else:
    print('Something else')

Above 0

#### Exercise 2

Write your salary computation to give an employee 1.5 times the hourly rate for hours worked above 40 hours. Example:

    Enter Hours: 45
    Enter Rate: 10
    Pay: 475.0

In [2]:

hours = float(input("Enter Hours: "))

rate = float(input("Enter Rate: "))

if hours > 40:
    overtime_hours = hours - 40
    overtime_pay = overtime_hours * rate * 1.5
    gross_pay = 40 * rate + overtime_pay
else:
    gross_pay = hours * rate

print("Pay: ", gross_pay)

Enter Hours: 45
Enter Rate: 10
Pay:  475.0

## CHALLENGE

Write a program to prompt for a score between 0 and 100 and print a grade using the following table:

    Score           Grade
    [ 97, 100]      1.0
    [ 93,  97)		1.25
    [ 89,  93)		1.5
    [ 85,  89)		1.75
    [ 81,  85)		2.0
    [ 77,  81)		2.25
    [ 74,  77)		2.5
    [ 0,   74)		3.0

Adapted from [PEW] E3.3
<br>

In [3]:

score = float(input("Enter a score between 0 and 100: "))

if score >= 97 and score <= 100:
    grade = 1.0
elif score >= 93 and score < 97:
    grade = 1.25
elif score >= 89 and score < 93:
    grade = 1.5
elif score >= 85 and score < 89:
    grade = 1.75
elif score >= 81 and score < 85:
    grade = 2.0
elif score >= 77 and score < 81:
    grade = 2.25
elif score >= 74 and score < 77:
    grade = 2.5
elif score >= 0 and score < 74:
    grade = 3.0
else:
    print("Invalid score. Please enter a score between 0 and 100.")
    exit()

print("Grade: ", grade)

Enter a score between 0 and 100: 97
Grade:  1.0