In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/CN_Paca-anas/Python WorkBook 1

/content/drive/MyDrive/CN_Paca-anas/Python WorkBook 1

However, operations on different types are prohibited

In [ ]:
# only strings can be concatenated
e = 'hello ' + 'there'
e = e + 1

## EXERCISES

#### Exercise 1

Write a program that uses input to prompt a user for their name and then welcomes them.
```
Enter your name: Chuck
Hello Chuck
```

[PEW] E2.2

In [1]:
name = input('Enter your name: ')
print('Hello', name)

Enter your name: Janica
Welcome Janica

#### Exercise 2

Write a program to prompt the user for hours and rate per hour to compute gross pay.
```
Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25
```

[PEW] E2.3

In [3]:
hours = float(input("Enter Hours: "))

rate = float(input("Enter Rate: "))

gross_pay = hours * rate

print("Pay: ", gross_pay)

Enter Hours: 35
Enter Rate: 2.75
Pay:  96.25

#### Exercise 3

Assume that we execute the following assignment statements:
```python
width = 17
height = 12.0
```
For each of the following expressions, write the value of the expression and the type (of the value of the expression).
```python
width//2
width/2.0
height/3
1 + 2 * 5
```

[PEW] E2.4

In [5]:
width = 17
height = 12.0

value = width // 2
print(f"{value} ({type(value)})")

value = width / 2.0
print(f"{value} ({type(value)})")


value = height / 3
print(f"{value} ({type(value)})")

value = 1 + 2 * 5
print(f"{value} ({type(value)})")

8 (<class 'int'>)
8.5 (<class 'float'>)
4.0 (<class 'float'>)
11 (<class 'int'>)

#### Exercise 4

Write a program that uses input to prompt a user for a number and then outputs the square of the number
```
Enter a number: 3
The square of 3 is 9
```

In [8]:
number = int(input("Enter a number: "))

square = number*number

print("The square of your number is: ", square)

Enter a number: 3
The square of your number is:  9

## CHALLENGE

Write a program which prompts the user for a Celsius temperature, convert the temperature to Fahrenheit, and print out the converted temperature.

[PEW] E2.5

In [9]:

celsius = float(input("Enter a Celsius temperature: "))


fahrenheit = (celsius * 9/5) + 32


print(f"{celsius} degrees Celsius is equivalent to {fahrenheit} degrees Fahrenheit.")

Enter a Celsius temperature: 36
36.0 degrees Celsius is equivalent to 96.8 degrees Fahrenheit.